@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('https://rsms.me/inter/font-files/Inter-Regular.woff2?v=3.9') format('woff2'),
    url('https://rsms.me/inter/font-files/Inter-Regular.woff?v=3.9') format('woff');
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.is-loading:before {
  position: absolute;
  content: "";
  width: 24px;
  height: 24px;
  display: block;
  animation: spin 1s linear infinite;
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 0C5.44775 0 5 0.447754 5 1V2C5 2.55225 5.44775 3 6 3C6.55225 3 7 2.55225 7 2V1C7 0.447754 6.55225 0 6 0Z' fill='%23C4C4C4'/%3E%3Cpath d='M1.75732 8.82837C1.36682 9.21887 1.36682 9.85205 1.75732 10.2426C2.14795 10.6332 2.78101 10.6332 3.17163 10.2426L3.87866 9.53552C4.26917 9.14502 4.26917 8.51184 3.87866 8.12134C3.48816 7.73071 2.85498 7.73071 2.46448 8.12134L1.75732 8.82837Z' fill='%23C4C4C4'/%3E%3Cpath d='M11 5C11.5522 5 12 5.44775 12 6C12 6.55225 11.5522 7 11 7H10C9.44775 7 9 6.55225 9 6C9 5.44775 9.44775 5 10 5H11Z' fill='%23C4C4C4'/%3E%3Cpath d='M8.82837 10.2427C9.21887 10.6332 9.85205 10.6332 10.2426 10.2427C10.6332 9.85205 10.6332 9.21899 10.2426 8.82837L9.53552 8.12134C9.14502 7.73083 8.51184 7.73083 8.12134 8.12134C7.73071 8.51184 7.73071 9.14502 8.12134 9.53552L8.82837 10.2427Z' fill='%23C4C4C4'/%3E%3Cpath d='M5 10C5 9.44775 5.44775 9 6 9C6.55225 9 7 9.44775 7 10V11C7 11.5522 6.55225 12 6 12C5.44775 12 5 11.5522 5 11V10Z' fill='%23C4C4C4'/%3E%3Cpath d='M8.12122 3.87866C8.51184 4.26929 9.1449 4.26929 9.53552 3.87866L10.2426 3.17163C10.6331 2.78113 10.6331 2.14795 10.2426 1.75745C9.85205 1.36682 9.21887 1.36682 8.82837 1.75745L8.12122 2.46448C7.73071 2.85498 7.73071 3.48816 8.12122 3.87866Z' fill='%23C4C4C4'/%3E%3Cpath d='M2 5C2.55225 5 3 5.44775 3 6C3 6.55225 2.55225 7 2 7H1C0.447754 7 0 6.55225 0 6C0 5.44775 0.447754 5 1 5H2Z' fill='%23C4C4C4'/%3E%3Cpath d='M3.87866 3.87878C4.26929 3.48816 4.26929 2.8551 3.87866 2.46448L3.17163 1.75745C2.78113 1.36694 2.14795 1.36694 1.75745 1.75745C1.36682 2.14795 1.36682 2.78113 1.75745 3.17163L2.46448 3.87878C2.85498 4.26929 3.48816 4.26929 3.87866 3.87878Z' fill='%23C4C4C4'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: center center;
  top: 16px;
  left: 16px;
}